name: "GPSD to MQTT (Beta)"
description: >-
  This addon will run GPSD and serve the data to MQTT and show a device tracker device (device_tracker.gpsd_location). The addon uses Mosquitto MQTT but can also be configued to another broker if wanted. 
  Remember to install Mosquitto or another broker before setting up this addon.

  Installation requires you to set up a username and password to publish to MQTT. Also you must select the serial device for GPSD in configuration.
url: https://github.com/dala318/ha-addons/tree/main/gpsd2mqtt_beta
version: "2025.12.0b1"
slug: "gpsd2mqtt_beta"
init: false
arch:
  - aarch64
  - amd64
services:
  - mqtt:need
options:
  input_type: serial
  device: "/dev/ttyS0"
  mqtt_on: true
  publish_3d_fix_only: true
schema:
  input_type: list(serial|tcp)
  device: device(subsystem=tty)?
  baudrate: int?
  charsize: int?
  parity: bool?
  stopbit: int?
  tcp_host: str?
  tcp_port: int?
  publish_3d_fix_only: bool?
  min_n_satellites: int?
  publish_interval: int?
  summary_interval: int?
  mqtt_on: bool?
  mqtt_broker: str?
  mqtt_port: int?
  mqtt_username: str?
  mqtt_pw: str?
  mqtt_state: str?
  gpsd_options: str?
  debug: bool?
ports:
  2947/tcp: 2947
devices:
  - /dev/pps0
